<div class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">wubing7755</a>
    </div>
</div>

<!--
    使用 Font Awesome 图标
    https://fontawesome.com/icons
-->

<div class="nav-menu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="oi fa-solid fa-house" aria-hidden="true"></i> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="diagramView">
                <i class="oi fa-solid fa-marker" aria-hidden="true"></i> DiagramView
            </NavLink>
        </div>
    </nav>
</div>