@page "/diagramView"
@using AWUI.Components
@using AWUI.Interfaces
@using AWUI.Models
@inject IDiagramService DS

<Button OnClick="AddRect">+ Rect +</Button>
<Button OnClick="AddCircle">+ Circle +</Button>

<Divider />

<!-- 使用笛卡尔坐标系 -->
<Diagram></Diagram>

@code {
    private Task AddRect(MouseEventArgs args)
    {
        var rectM = new RectModel();
        DS.Add(rectM);
        return Task.CompletedTask;
    }

    private Task AddCircle(MouseEventArgs args)
    {
        var circleM = new CircleModel();
        DS.Add(circleM);
        return Task.CompletedTask;
    }
}
